.pagePrincipale{
    background-color: burlywood;
    width: 100%;
    height: 100%;
    position: absolute;
}
.text-help{
    color: beige;
}
.titrePagePrincipale{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
.cadreCentral{
    border-radius: 10px;
    background-color:  rgb(160, 64, 0) ;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    max-width: 500px;
    min-width: 400px;
    height:50%;
    max-height: 500px;
    min-height: 400px;
    margin-top: 5rem;
}

.pseudoAffichage{
    padding: 1rem;
    width: auto;
    height: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
.cadreCentralContent{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.pseudoHelp{
    width: auto;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.pseudoInputZone{
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.createGameButton{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
.joinGameButton{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
.gameIdInputZone{
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
.idGameValidationButton{
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

#colorTeamButton{
    width:8rem;
    height:8rem;
    border-radius: 75px;
    border:none;

}
.colorTeam{
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
}