.chessboard{
  width: 800px;
  height: 800px;
  margin: 20px;
  border: 25px solid #333;
  position: relative;
  display: flex;
  flex-direction: column-reverse;

}

.beige{
  float: left;
  width: 93.75px;
  height: 93.75px;
  background-color: beige;
    font-size: 70px;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
  padding-top: 35px;
}

.brown{
  float: left;
  width: 93.75px;
  height: 93.75px;
  background-color: saddlebrown;
    font-size: 70px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 35px;
}

.moveFormField{
  width: auto;
  height: auto;
  background-color:darkgrey;
  border-radius: 15px;
}

.moveForm{
  width: auto;
  height: auto;
  position:relative;
  margin-left: auto;
  margin-right: auto;
}

.main{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiddenServerResponse{
  width: auto;
  height: auto;
}
