.main{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chessInfoRow{
  background-color: #333333 ;
  color: white;
  width: 4%;
}

.chessInfoColumn{
  background-color: #333333 ;
  color: white;
  text-align: justify;
  display: flex;
  justify-content: space-around;
}

.chessInfoColumnHide{
  background-color: #333333;
}

.chessboard{
  position: relative;
  box-sizing: border-box;
  width: 80vh;
  height: 80vh;
  margin: 20px;
  border: 25px solid #333;

}

.chessRow{
  position: relative;
  width: 100%;
  height: 12.5%;
}

.beige{
  position: relative;
  float: left;
  width: 12.5%;
  height: 100%;
  background-color: beige;
}

.brown{
  position: relative;
  float: left;
  width: 12.5%;
  height: 100%;
  background-color: saddlebrown;
}

.moveFormField{
  width: 20vh;
  height: auto;
  background-color:darkgrey;
  border-radius: 15px;
}

.moveForm{
  width: auto;
  height: auto;
  position:relative;
  margin-left: auto;
  margin-right: auto;
}



.hiddenServerResponse{
  width: auto;
  height: auto;
}
