
<div class="main">

  <div class="header">
    <button mat-raised-button class="quitGameButton" (click)="quitGame()">Quitter la partie</button>
    <h1 class="headerPartie">
      <span>
        <span>ID de la partie :</span> {{playerDatas.id_game}}
      </span>
      <br>
      <span>
        <span>Joueur :</span> {{playerDatas.name}}
      </span>
    </h1>
    <div class="listPlayers">
      <span>Noir(s): </span>{{countBlack()}}
      &nbsp;
      <span>Blanc(s): </span>{{countWhite()}}
      <table>
          Votre équipe:
          <ng-container *ngFor="let player of listOfPlayers">
              <tr>
                  <th *ngIf="player.team == playerDatas.team">
                      &nbsp;{{player.name}}
                  </th>
              </tr>

          </ng-container>

      </table>
    </div>
  </div>
    <table class="chessboard">

    <!-- moche mais nécessaire pour le header-->
      <tr>
        <th class="chessInfoColumnHide"></th>
        <div class="chessInfoColumn">
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
        </div>
      </tr>

      <ng-container *ngFor="let row of board; let i = index">
        <tr class="chessRow">
          <th scope="row" class="chessInfoRow">{{numberToLetter(i+1)}}</th>
            <app-piece *ngFor="let pieceBoard of row; let j = index" [pieceBoard] = pieceBoard  class="{{colorBoard(i,j)}}"></app-piece>
        </tr>
      </ng-container>
  </table>


  <div class="moveForm">
    <mat-form-field class="moveFormField" appearance="fill" *ngIf="teamCanPlayFlag">
      <mat-label>Piece à jouer + destination</mat-label>
      <input type="text" matInput [formControl] = "moveFormControl" [errorStateMatcher]="matcher"
             (keyup.enter)="onSubmit()" placeholder="Ex: A2B2">
      <mat-error *ngIf="moveFormControl.hasError('pattern') && !moveFormControl.hasError('required')">
        Mouvement invalide
      </mat-error>
      <mat-error *ngIf="moveFormControl.hasError('required')">
        Veuillez écrire un mouvement
      </mat-error>
    </mat-form-field>
    <div class="hiddenServerResponse">{{serverResponse}}</div>
  </div>
</div>




